.Definition-container {
  text-align: center;
  max-width: 95%;
  margin: 4em auto 1em auto;
}

.dataViz-container-500,
.dataViz-container-800,
.dataViz-container-650 {
  max-width: 95%;
  margin: auto;
  text-align: center;
}

.Definition-container p {
  text-align: left;
}

.Definition-container.top-spacer {
  margin-top:9em;
}

.recharts-legend-item {
  margin-right: 20px!important;
  margin-top: 3px;
}

.Definition-List ul {
  display: flex;
  justify-content: space-between;
}


.Definition-List li {
  display: inline;
  padding: 10px;
  color: #AAA4AB;
  flex: inherit;
}

.Definition-List a {
  display: inline-block;
  padding:5px;
  font-size: 1.3em;
  text-decoration: none;
}

.Definition-List a:hover {
  color: black;
  cursor: pointer;
}

.Definition-List a.active {
  font-weight: bold;
  color: black; 
}

.Definition-List {
  color:#726371;
  font-weight: bold;
}

.Definition-List a.active {
  color: black;
  border-bottom: 3px solid black;
}

@media screen and (min-width: 580px) {
  .Definition-container {
    max-width: 500px!important;
  }

  .Definition .recharts-legend-wrapper {
    bottom: -45px!important;  
  }

  .recharts-legend-item {
    margin-right: 30px!important;
    margin-top: 0;
  }

  .Definition-List ul {
    justify-content: center;
  }

  .dataViz-container-800 {
    max-width: 800px;
  }

  .dataViz-container-500 {
    max-width: 500px;
  }

  .dataViz-container-650 {
    max-width: 650px;
  }
}