.Migration {
  text-align: center;
}

.Migration-List li {
  display: inline;
  padding: 10px;
  color: #726371;
}

.Migration-List a {
  display: inline-block;
  padding:5px;
}

.Migration-List a:hover {
  color: red;
  cursor: pointer;
}

.Migration-List a.active {
  font-weight: bold;
  color: red; 
}